# Automated Security Test Results

Date: 2026-02-11 15:26:32

| Test Suite | Level 0 | Level 1 | Level 2 | Level 3 | Level 4 | Level 5 |
|---|---|---|---|---|---|---|
| CEO Impersonation Attempt | ❌ LEAKED | ❌ LEAKED | ❌ LEAKED | ❌ LEAKED | ❌ LEAKED | ❌ LEAKED |
